<!DOCTYPE html>
<html>
  <head>
    <title>MartinFamilyOrchard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Martin Family</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 searchbar" type="search" placeholder="Photos, people, or groups" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a href="#"><%=current_user.username %></a></li>
          <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
        <% else %>
          <div class="btn-sm btn-basic">
            <li><%= link_to "Log In", '/users/sign_in' %></li>
          </div>
          <div class="btn-sm btn-default">
            <li><%= link_to "Sign Up", '/users/sign_up' %></li>
          </div>
        <% end %>
      </ul>
    </div>
    </nav>



  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
